---
title: Style Guide
sections:

- title: Overview
  slug:
- title: Getting Started
  slug: getting-started
- title: Logo
  slug: logo
- title: Color
  slug: color
- title: Icons
  slug: icons
- title: Typography
  slug: typography
- title: Forms
  slug: forms
- title: Navigation
  slug: navigation
- title: Accessibility
  slug: accessibility
- title: Layout
  slug: layout
- title: Components
  slug: components
  class: active
  items:
    - Site header
    - Search form
    - Badges
    - Labels
    - Callouts
    - Switches
    - Tooltips
    - Breadcrumbs
- title: Voice & Language
  slug: voice-and-language

---

<h1 id="components" class="large-margin-bottom">Components</h1>
{{> component-site-header}}
{{> component-search-form}}
{{> component-badges}}
{{> component-labels}}

<!--
Abide
Accordion
Accordion Menu
Equalizer
Interchange
Magellan
Media Object
Off-canvas
Orbit
Progress Bar
Responsive Toggle
Reveal (AVOID USING MODALS!)
Slider
Tabs
Thumbnail
Title Bar
Toggler
Top Bar
-->
