// --------------------------------------------------
// Base: Typography
// --------------------------------------------------

//
// Headings
// --------------------------------------------------
.header-xxlarge { @extend h1; }
.header-xlarge {  @extend h2; }
.header-large {   @extend h3; }
.header-medium {  @extend h4; }
.header-small {   @extend h5; }
.header-tiny {    @extend h6; }

h6,
.header-tiny {
  text-transform: uppercase;
  font-weight: $global-weight-normal;
  margin-bottom: 0.5em;
}


//
// Buttons
// --------------------------------------------------
button {
  cursor: pointer;
}

// .button.gray {
//   background-color: $white-smoke;
//   color: darken($primary-color, 10%);
//
//   &:hover {
//     background-color: darken($white-smoke, 10%);
//     color: darken($primary-color, 20%);
//   }
// }


//
// Typography helper classes
// --------------------------------------------------
.font-default { font-family: $body-font-family; }
.font-mono { font-family: $font-family-monospace; }

.nowrap,
.no-wrap {
  white-space: nowrap;
}

.text-xxlarge { font-size: rem-calc(34); }
.text-xlarge { font-size: rem-calc(25); }
.text-large { font-size: rem-calc(20); }
.text-medium { font-size: 1rem; }
.text-small { font-size: rem-calc(13); }
.text-tiny { font-size: rem-calc(10); }

.text-weight-normal {
  font-weight: $global-weight-normal;
}

.text-weight-bold {
  font-weight: $global-weight-bold;
}


//
// Blockquotes
// --------------------------------------------------
blockquote {

  cite {
    opacity: 0.75;
  }
}


//
// Lists
// --------------------------------------------------
dd + dt {
  margin-top: $defnlist-term-margin-bottom;
}


//
// Forms
// --------------------------------------------------
fieldset {

  > legend {
    font-size: $form-label-font-size;
  }
}

.search-form {
  position: relative;
  margin-bottom: $global-margin;

  .search-input {
    margin-bottom: 0;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    right: 0.5em;
    transform: translateY(-50%);
  }
}

input.no-controls {
  -webkit-appearance: none;
  -moz-appearance: textfield;

  // nix Internet Explorer 'X'
  &::-ms-clear {  display: none; width : 0; height: 0; }
  &::-ms-reveal {  display: none; width : 0; height: 0; }

  /* nix Webkit 'X' */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration { display: none; }

  // nix Webkit number spinners
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // nix Webkit datepicker
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

//
// Navigation
// --------------------------------------------------
.menu {
  font-weight: $global-weight-bold;

  .is-active {
    background-color: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 rem-calc(-4) 0 0 $dcp-yellow;

    a, button {
      background-color: transparent;
    }
  }
}

.tabs {
  font-weight: $global-weight-bold;
  border: 0;
  display: flex;

  &::after {
    content: '';
    display: block;
    flex-grow: 1;
    box-shadow: inset 0 -1px 0 0 $silver;
  }

  a {
    border-top: 1px solid transparent;
  }

  li {
    float: none;

    &:not(.is-active) a {
      box-shadow: inset 0 -1px 0 0 $silver;
    }

    &.is-active a {
      color: $charcoal;
      border-top-color: $silver;
      box-shadow: inset 1px 0 0 0 $silver, inset -1px 0 0 0 $silver;
    }
  }
}

.tabs-content {
  border: 0;
}
