<section>
<p class="large-margin-bottom">Be sure to follow best practices to make our products more accessible:</p>
<div class="grid-x grid-margin-x">
  <div class="cell large-7">
    <ul>
      <li><p><strong>Structure documents properly</strong> &mdash; Use the right HTML tags when marking up navigation, lists, links, controls, etc.</p></li>
      <li><p><strong>Label everything</strong> &mdash; Every control or form element must have a text label. You can use the visibility classes to hide labels visually while maintaining accessibility. Use `alt` attributes on images to describe them.</p></li>
      <li><p><strong>Don't rely on solely visual cues</strong> &mdash; Content should make sense even if it's being read by a screen reader. Content with color-based labeling should also have text-based ways of being identified.</p></li>
      <li><p><strong>Make all content navigable regardless of device</strong> &mdash; All components should work with keyboards, mice, and touch screens. If content is primarily accessed via an interactive map, it should also be accessible via text search or some other non-map method.</p></li>
    </ul>
  </div>
  <div class="cell large-5">
    <h5 class="small-margin-bottom">Resources</h5>
    <ul class="text-small">
      <li><a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/">WCAG 2.0 Guide</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility">MDN accessibility documentation</a></li>
      <li><a href="https://www.w3.org/WAI/intro/accessibility.php">w3.org Introduction to Accessibility</a></li>
      <li><a href="https://www.section508.gov/">Section 508 government requirements</a></li>
      <li><a href="http://webaim.org/">WebAIM certification and training</a></li>
      <li><a href="http://a11yproject.com/checklist.html">Web Accessibility Checklist</a></li>
    </ul>
    <h5 class="small-margin-bottom">Tools</h5>
    <ul class="text-small">
      <li><a href="https://tenon.io/index.php">Tenon accessibility checker</a></li>
      <li><a href="http://wave.webaim.org">WAVE Chrome plugin - free accessibility checker</a></li>
      <li><a href="http://webaim.org/resources/contrastchecker">Color Contrast Checker</a></li>
      <li><a href="http://www.chromevox.com">ChromeVox screen reader plugin for Chrome</a></li>
      <li><a href="http://www.freedomscientific.com/Products/Blindness/Jaws">JAWS screen reader for Windows</a></li>
      <li><a href="http://www.nvaccess.org/download/">NVDA screen reader for Windows - Free</a></li>
    </ul>
  </div>
</div>
</section>
