<section>
{{#markdown}}
### Brand Colors
<div class="grid-x grid-margin-x small-up-2 large-up-4">
  <div class="cell">
    <div class="color-block">
      <div style="background: #d96b27" class="large-padding"></div>
      `$dcp-orange` `#d96b27`
    </div>
  </div>
  <div class="cell">
    <div class="color-block">
      <div style="background: #ae561f" class="large-padding"></div>
      `$a11y-orange` `#ae561f`
    </div>
  </div>
  <div class="cell">
    <div class="color-block">
      <div style="background: #ffc861" class="large-padding"></div>
      `$dcp-yellow` `#ffc861`
    </div>
  </div>
  <div class="cell">
    <div class="color-block">
      <div style="background: #ffeec1" class="large-padding"></div>
      `$a11y-yellow` `#ffeec1`
    </div>
  </div>
</div>
{{/markdown}}
</section>
