<section>
{{{headerify 'h3' 'Color palettes'}}}
{{#markdown}}

#### Brand colors

<div class="grid-x small-up-2 large-up-4 align-stretch medium-margin-bottom text-white font-mono text-weight-bold">
  <div class="cell xlarge-padding-top small-padding-left small-padding-right bg-dcp-orange">
    <ul class="no-bullet xlarge-padding-top">
      <li class="text-small">#d96b27</li>
      <li class="text-tiny">$dcp-orange</li>
    </ul>
  </div>
  <div class="cell xlarge-padding-top small-padding-left small-padding-right bg-a11y-orange">
    <ul class="no-bullet xlarge-padding-top">
      <li class="text-small">#ae561f</li>
      <li class="text-tiny">$a11y-orange</li>
    </ul>
  </div>
  <div class="cell xlarge-padding-top small-padding-left small-padding-right bg-dcp-yellow">
    <ul class="no-bullet xlarge-padding-top">
      <li class="text-small">#ffc861</li>
      <li class="text-tiny">$dcp-yellow</li>
    </ul>
  </div>
  <div class="cell xlarge-padding-top small-padding-left small-padding-right bg-a11y-yellow">
    <ul class="no-bullet xlarge-padding-top">
      <li class="text-small">#ffeec1</li>
      <li class="text-tiny">$a11y-yellow</li>
    </ul>
  </div>
</div>

#### Grayscale colors

<div class="grid-x small-up-2 large-up-4 align-stretch medium-margin-bottom text-white font-mono text-weight-bold">
  <div class="cell xlarge-padding-top small-padding-left small-padding-right bg-black">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-black</li>
    </ul>
  </div>
  <div class="cell xlarge-padding-top small-padding-left small-padding-right bg-charcoal">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-charcoal</li>
    </ul>
  </div>
  <div class="cell xlarge-padding-top small-padding-left small-padding-right bg-dark-gray">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-dark-gray</li>
    </ul>
  </div>
  <div class="cell xlarge-padding-top small-padding-left small-padding-right bg-gray">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-gray</li>
    </ul>
  </div>
  <div class="cell xlarge-padding-top small-padding-left small-padding-right bg-light-gray">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-light-gray</li>
    </ul>
  </div>
  <div class="cell xlarge-padding-top small-padding-left small-padding-right bg-silver">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-silver</li>
    </ul>
  </div>
  <div class="cell xlarge-padding-top small-padding-left small-padding-right bg-white-smoke">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-white-smoke</li>
    </ul>
  </div>
  <div class="cell xlarge-padding-top small-padding-left small-padding-right bg-off-white">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-off-white</li>
    </ul>
  </div>
  <div class="cell xlarge-padding-top small-padding-left small-padding-right bg-white">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-white</li>
    </ul>
  </div>
</div>

#### Data viz colors

<div class="grid-x small-up-2 large-up-4 align-stretch medium-margin-bottom text-white font-mono text-weight-bold">
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-aqua">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-aqua</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-aqua-light">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-aqua-light</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-aqua-dark">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-aqua-dark</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-aqua-muted">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-aqua-muted</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-teal">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-teal</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-teal-light">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-teal-light</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-teal-dark">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-teal-dark</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-teal-muted">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-teal-muted</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-green">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-green</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-green-light">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-green-light</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-green-dark">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-green-dark</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-green-muted">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-green-muted</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-chartreuse">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-chartreuse</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-chartreuse-light">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-chartreuse-light</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-chartreuse-dark">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-chartreuse-dark</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-chartreuse-muted">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-chartreuse-muted</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-yellow">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-yellow</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-yellow-light">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-yellow-light</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-yellow-dark">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-yellow-dark</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-yellow-muted">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-yellow-muted</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-gold">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-gold</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-gold-light">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-gold-light</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-gold-dark">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-gold-dark</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-gold-muted">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-gold-muted</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-orange">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-orange</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-orange-light">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-orange-light</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-orange-dark">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-orange-dark</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-orange-muted">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-orange-muted</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-red">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-red</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-red-light">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-red-light</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-red-dark">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-red-dark</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-red-muted">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-red-muted</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-fuchsia">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-fuchsia</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-fuchsia-light">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-fuchsia-light</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-fuchsia-dark">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-fuchsia-dark</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-fuchsia-muted">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-fuchsia-muted</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-purple">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-purple</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-purple-light">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-purple-light</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-purple-dark">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-purple-dark</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-purple-muted">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-purple-muted</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-indigo">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-indigo</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-indigo-light">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-indigo-light</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-indigo-dark">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-indigo-dark</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-indigo-muted">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-indigo-muted</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-blue">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-blue</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-blue-light">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-blue-light</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-blue-dark">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-blue-dark</li>
    </ul>
  </div>
  <div class="cell medium-padding-top small-padding-left small-padding-right bg-blue-muted">
    <ul class="no-bullet">
      <li class="text-small">#ffffff</li>
      <li class="text-tiny">$bg-blue-muted</li>
    </ul>
  </div>
</div>

#### Clickability

{{/markdown}}
</section>
