<section>
{{#markdown}}
Promote strong brand recognition by using a distinct and reduced color palette, featuring only two hues (orange and yellow) and subtle shades of gray.

The primary brand color is <code>dcp-orange <i class="fas fa-square dcp-orange"></i></code>. It's the color of the "NYC" in our logo, and it can be used for large blocks of color. The slightly darker <code>a11y-orange <i class="fas fa-square a11y-orange"></i></code> increases accessibility by adding more contrast, and is the default color for linked text and button backgrounds.

The secondary brand color is <code>dcp-yellow <i class="fas fa-square dcp-yellow"></i></code>. Use it in small amounts as an accent and for secondary UI elements. The lighter <code>a11y-yellow <i class="fas fa-square a11y-yellow"></i></code> increases accessibility and can be used for linked text on darker backgrounds.

- Orange implies clickability in our products. Do not use orange to highlight or emphasize words.
- Be sure to use the [Color Contrast Checker <i class="fas fa-external-link-alt"></i>](https://webaim.org/resources/contrastchecker/) to choose accessible colors.
- Do not overuse color. Color should not cover the majority of the page.
- Avoid dark UIs. Instead, keep products light and inviting, using subtle grays to create visual hierarchy &mdash; the default background color of the `<body>` element is <code>off-white <i class="fas fa-square off-white"></i></code>.
{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Brand colors'}}}
{{#markdown}}
<div class="grid-x small-up-1 large-up-4 medium-margin-bottom font-mono large-text-right">
  <ul class="color-swatch cell bg-dcp-orange" data-colorname="dcp-orange"></ul>
  <ul class="color-swatch cell bg-a11y-orange" data-colorname="a11y-orange"></ul>
  <ul class="color-swatch cell bg-dcp-yellow" data-colorname="dcp-yellow"></ul>
  <ul class="color-swatch cell bg-a11y-yellow" data-colorname="a11y-yellow"></ul>
</div>
{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Grayscale colors'}}}
{{#markdown}}
<div class="grid-x medium-margin-bottom align-middle">
  <ul class="color-swatch cell large-3 large-text-right font-mono bg-black" data-colorname="black"></ul>
  <ul class="color-swatch cell large-3 large-text-right font-mono bg-charcoal" data-colorname="charcoal"></ul>
  <ul class="color-swatch cell large-3 large-text-right font-mono bg-dark-gray" data-colorname="dark-gray"></ul>
  <ul class="color-swatch cell large-3 large-text-right font-mono bg-gray" data-colorname="gray"></ul>
  <ul class="color-swatch cell large-3 large-text-right font-mono bg-light-gray" data-colorname="light-gray"></ul>
  <ul class="color-swatch cell large-3 large-text-right font-mono bg-silver" data-colorname="silver"></ul>
  <ul class="color-swatch cell large-3 large-text-right font-mono bg-white-smoke" data-colorname="white-smoke"></ul>
  <ul class="color-swatch cell large-3 large-text-right font-mono bg-off-white" data-colorname="off-white"></ul>
  <ul class="color-swatch cell large-3 large-text-right font-mono bg-white" data-colorname="white"></ul>
  <div class="cell large-auto medium-padding text-dark-gray text-small">Avoid pure black <code>#000</code> and white <code>#fff</code>, as text/background color combinations with too high of a contrast can decrease legibility and cause eye strain.</div>
</div>
{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Data viz colors'}}}
{{#markdown}}
<div class="grid-x small-up-1 large-up-4 font-mono large-text-right">
  <ul class="color-swatch cell bg-aqua" data-colorname="aqua"></ul>
  <ul class="color-swatch cell bg-aqua-light" data-colorname="aqua-light"></ul>
  <ul class="color-swatch cell bg-aqua-dark" data-colorname="aqua-dark"></ul>
  <ul class="color-swatch cell bg-aqua-muted" data-colorname="aqua-muted"></ul>
</div>
<div class="grid-x small-up-1 large-up-4 font-mono large-text-right">
  <ul class="color-swatch cell bg-teal" data-colorname="teal"></ul>
  <ul class="color-swatch cell bg-teal-light" data-colorname="teal-light"></ul>
  <ul class="color-swatch cell bg-teal-dark" data-colorname="teal-dark"></ul>
  <ul class="color-swatch cell bg-teal-muted" data-colorname="teal-muted"></ul>
</div>
<div class="grid-x small-up-1 large-up-4 font-mono large-text-right">
  <ul class="color-swatch cell bg-green" data-colorname="green"></ul>
  <ul class="color-swatch cell bg-green-light" data-colorname="green-light"></ul>
  <ul class="color-swatch cell bg-green-dark" data-colorname="green-dark"></ul>
  <ul class="color-swatch cell bg-green-muted" data-colorname="green-muted"></ul>
</div>
<div class="grid-x small-up-1 large-up-4 font-mono large-text-right">
  <ul class="color-swatch cell bg-chartreuse" data-colorname="chartreuse"></ul>
  <ul class="color-swatch cell cell bg-chartreuse-light" data-colorname="chartreuse-light"></ul>
  <ul class="color-swatch cell bg-chartreuse-dark" data-colorname="chartreuse-dark"></ul>
  <ul class="color-swatch cell bg-chartreuse-muted" data-colorname="chartreuse-muted"></ul>
</div>
<div class="grid-x small-up-1 large-up-4 font-mono large-text-right">
  <ul class="color-swatch cell bg-yellow" data-colorname="yellow"></ul>
  <ul class="color-swatch cell bg-yellow-light" data-colorname="yellow-light"></ul>
  <ul class="color-swatch cell bg-yellow-dark" data-colorname="yellow-dark"></ul>
  <ul class="color-swatch cell bg-yellow-muted" data-colorname="yellow-muted"></ul>
</div>
<div class="grid-x small-up-1 large-up-4 font-mono large-text-right">
  <ul class="color-swatch cell bg-gold" data-colorname="gold"></ul>
  <ul class="color-swatch cell bg-gold-light" data-colorname="gold-light"></ul>
  <ul class="color-swatch cell bg-gold-dark" data-colorname="gold-dark"></ul>
  <ul class="color-swatch cell bg-gold-muted" data-colorname="gold-muted"></ul>
</div>
<div class="grid-x small-up-1 large-up-4 font-mono large-text-right">
  <ul class="color-swatch cell bg-orange" data-colorname="orange"></ul>
  <ul class="color-swatch cell bg-orange-light" data-colorname="orange-light"></ul>
  <ul class="color-swatch cell bg-orange-dark" data-colorname="orange-dark"></ul>
  <ul class="color-swatch cell bg-orange-muted" data-colorname="orange-muted"></ul>
</div>
<div class="grid-x small-up-1 large-up-4 font-mono large-text-right">
  <ul class="color-swatch cell bg-red" data-colorname="red"></ul>
  <ul class="color-swatch cell bg-red-light" data-colorname="red-light"></ul>
  <ul class="color-swatch cell bg-red-dark" data-colorname="red-dark"></ul>
  <ul class="color-swatch cell bg-red-muted" data-colorname="red-muted"></ul>
</div>
<div class="grid-x small-up-1 large-up-4 font-mono large-text-right">
  <ul class="color-swatch cell bg-fuchsia" data-colorname="fuchsia"></ul>
  <ul class="color-swatch cell bg-fuchsia-light" data-colorname="fuchsia-light"></ul>
  <ul class="color-swatch cell bg-fuchsia-dark" data-colorname="fuchsia-dark"></ul>
  <ul class="color-swatch cell bg-fuchsia-muted" data-colorname="fuchsia-muted"></ul>
</div>
<div class="grid-x small-up-1 large-up-4 font-mono large-text-right">
  <ul class="color-swatch cell bg-purple" data-colorname="purple"></ul>
  <ul class="color-swatch cell bg-purple-light" data-colorname="purple-light"></ul>
  <ul class="color-swatch cell bg-purple-dark" data-colorname="purple-dark"></ul>
  <ul class="color-swatch cell bg-purple-muted" data-colorname="purple-muted"></ul>
</div>
<div class="grid-x small-up-1 large-up-4 font-mono large-text-right">
  <ul class="color-swatch cell bg-indigo" data-colorname="indigo"></ul>
  <ul class="color-swatch cell bg-indigo-light" data-colorname="indigo-light"></ul>
  <ul class="color-swatch cell bg-indigo-dark" data-colorname="indigo-dark"></ul>
  <ul class="color-swatch cell bg-indigo-muted" data-colorname="indigo-muted"></ul>
</div>
<div class="grid-x small-up-2 large-up-4 medium-margin-bottom font-mono large-text-right">
  <ul class="color-swatch cell bg-blue" data-colorname="blue"></ul>
  <ul class="color-swatch cell bg-blue-light" data-colorname="blue-light"></ul>
  <ul class="color-swatch cell bg-blue-dark" data-colorname="blue-dark"></ul>
  <ul class="color-swatch cell bg-blue-muted" data-colorname="blue-muted"></ul>
</div>
{{/markdown}}
</section>

<section>
  {{{headerify 'h3' 'Land Use colors'}}}
  {{#markdown}}
  ...
  {{/markdown}}
</section>
