<section>
{{{headerify 'h3' 'Badges & Labels'}}}
{{#markdown}}

Badges and Labels are convenient ways to add color and shape to UI elements.

The `.badge` class is useful for indicating out number of items. _Note: Badges are not good for large numbers, as the circle stretches to an oval:_ <span class="badge">525,600</span>

```
<strong aria-describedby="messageCount">Unread Messages</strong>
<span class="badge" id="messageCount">1</span>
```
<div class="callout large-margin-bottom">
  <strong aria-describedby="messageCount">Unread Messages</strong>
  <span class="badge" id="messageCount">1</span>
</div>

The `.label` class is a useful inline style that's useful for calling out metadata such as tags or when something was updated.

```
<p> Tags:
  <span class="label">cookies</span>
  <span class="label">42</span>
  <span class="label">bicycle</span>
</p>
```
<div class="callout large-margin-bottom">
  <p> Tags:
    <span class="label">cookies</span>
    <span class="label">42</span>
    <span class="label">bicycle</span>
  </p>
</div>

Use color classes to change the color of badges and labels. Be sure to [check the contrast](https://webaim.org/resources/contrastchecker/) when choosing colors. Be mindful not to make them look clickable if they aren't &mdash; remember, <a href="#color" data-smooth-scroll>orange implies clickable</a>
```
<span class="badge bg-yellow-light a11y-orange">1</span>
<span class="badge bg-chartreuse-dark">2</span>
<span class="badge bg-silver black">3</span>
<span class="badge bg-fuchsia">45</span>
```
<div class="callout">
  <span class="badge bg-yellow-light a11y-orange">1</span>
  <span class="badge bg-chartreuse-dark">2</span>
  <span class="badge bg-silver black">3</span>
  <span class="badge bg-fuchsia">45</span>
</div>

```
<span class="label">Updated 7/23/19</span>
<span class="label bg-chartreuse-light text-chartreuse-dark">cookies</span>
<span class="label bg-chartreuse-dark">42</span>
<span class="label bg-fuchsia">bicycle</span>
```
<div class="callout">
  <span class="label">Updated 7/23/19</span>
  <span class="label bg-chartreuse-light text-chartreuse-dark">cookies</span>
  <span class="label bg-chartreuse-dark">42</span>
  <span class="label bg-fuchsia">bicycle</span>
</div>

{{/markdown}}
</section>
