<section>
{{{headerify 'h3' 'Color accessibility'}}}
{{#markdown}}

<div class="grid-x grid-margin-x">
  <div class="cell large-7">
    <p>For those with low vision, typographic contrast is important. In accordance with Web Content Accessibility Guidelines (WCAG) 2.0 requirements, please use the [Color Contrast Checker](http://webaim.org/resources/contrastchecker/) to make sure that all text and background color combinations pass AA contrast requirements.</p>
    <ul class="no-bullet">
      <li><i class="fas fa-ban fuchsia"></i> Do not set light type on light backgrounds</li>
      <li><i class="fas fa-ban fuchsia"></i> Do not set dark type on dark backgrounds</li>
      <li><i class="fas fa-ban fuchsia"></i> Do not relying purely on color for visual cues</li>
    </ul>
  </div>
  <div class="cell large-5">
    <p class="text-small bg-silver text-dcp-orange small-padding">This isn't readable for those with low vision.</p>
    <p class="text-small bg-charcoal text-dcp-orange small-padding">This isn't readable for those with low vision.</p>
    <p class="text-small bg-blue-dark text-gray small-padding">This isn't readable for those with low vision.</p>
    <p class="text-small bg-green-light text-green small-padding">This isn't readable for those with low vision.</p>
  </div>
</div>

{{/markdown}}
</section>
