<section>
{{{headerify 'h3' 'Labels'}}}
{{#markdown}}
The `.label` class is a useful inline styles that can be used to call out metadata such as tags or when something was updated. Use color classes to change the color of labels. Be mindful not to make lables look clickable (remember, <a href="#color" data-smooth-scroll>orange implies clickable</a>

```
<span class="label">Updated 7/23/19</span>
<span class="label bg-chartreuse-light text-chartreuse-dark">cookies</span>
<span class="label bg-chartreuse-dark">42</span>
<span class="label bg-fuchsia">bicycle</span>
```
<div class="callout">
  <span class="label">Updated 7/23/19</span>
  <span class="label bg-chartreuse-light text-chartreuse-dark">cookies</span>
  <span class="label bg-chartreuse-dark">42</span>
  <span class="label bg-fuchsia">bicycle</span>
</div>
{{/markdown}}
</section>
