<section>
{{{headerify 'h3' 'Labels'}}}
{{#markdown}}
Labels are useful inline styles that can be used to call out metadata such as tags or when something was updated.

```
<span class="label">Updated </span>
```
<div class="callout">
  <span class="label">Updated </span>
</div>

Use color classes to change the color of labels.

```
<span class="label bg-yellow-light a11y-orange">cookies</span>
<span class="label bg-silver">bicycle</span>
<span class="label bg-chartreuse-dark">happy</span>
<span class="label bg-fuchsia">tea kettle</span>
```
<div class="callout">
  <span class="label bg-yellow-light a11y-orange">cookies</span>
  <span class="label bg-silver">bicycle</span>
  <span class="label bg-chartreuse-dark">happy</span>
  <span class="label bg-fuchsia">tea kettle</span>
</div>
{{/markdown}}
</section>
