<section>
{{{headerify 'h3' 'Fieldsets'}}}
{{#markdown}}
A group of related controls should be wrapped in a `<fieldset>` element, and given a common label using the `<legend>` element. Each individual input should have its own `<label>`. Fieldsets have no default style. The `.fieldset` class can be added to the fieldset to style it as a containing box, with the legend in its top-left corner.

```
<fieldset class="fieldset">
  <legend>Zoning types</legend>
  <input type="checkbox" id="c_com"><label for="c_com">Commercial</label>
  <input type="checkbox" id="c_man"><label for="c_man">Manufacturing</label>
  <input type="checkbox" id="c_res"><label for="c_res">Residential</label>
  <input type="checkbox" id="c_par"><label for="c_par">Parks</label>
</fieldset>
```
<div class="callout">
<fieldset class="fieldset">
  <legend>Zoning types</legend>
  <input type="checkbox" id="c_com"><label for="c_com">Commercial</label>
  <input type="checkbox" id="c_man"><label for="c_man">Manufacturing</label>
  <input type="checkbox" id="c_res"><label for="c_res">Residential</label>
  <input type="checkbox" id="c_par"><label for="c_par">Parks</label>
</fieldset>
</div>

#### Accessibile fieldsets

To increase accessibility, related controls (especially checkboxes and radio buttons) should always be wrapped in a fieldset. If this is not ideal for the UI/layout, the `.show-for-sr` class can be added to the legend so it's hidden on screen but still available for screen readers.

```
<fieldset>
  <legend class="show-for-sr">Zoning types:</legend>
  ...
</fieldset>
```
<div class="callout">
<fieldset>
  <legend class="show-for-sr">Zoning types:</legend>
  <input type="checkbox" id="c_com"><label for="c_com">Commercial</label>
  <input type="checkbox" id="c_man"><label for="c_man">Manufacturing</label>
  <input type="checkbox" id="c_res"><label for="c_res">Residential</label>
  <input type="checkbox" id="c_par"><label for="c_par">Parks</label>
</fieldset>
</div>

{{/markdown}}
</section>
