<section>
{{{headerify 'h3' 'Text inputs'}}}
{{#markdown}}
The following input types create a text input: `text`, `date`, `datetime-local`, `email`, `month`, `number`, `password`, `search`, `tel`, `time`, `url`, and `week`.

```
<label>Text <input type="text"></label>
<label>Number <input type="number"></label>
<label>Date <input type="date"></label>
<label>Password <input type="password"></label>
```
<div class="callout">
<label>Text <input type="text" value="I've entered some text!"></label>
<label>Number <input type="number" value="42"></label>
<label>Date <input type="date"></label>
<label>Password <input type="password" value="1234567890"></label>
</div>

In some desktop browsers, certain types &mdash; `number`, `date`, `search`&hellip; &mdash; have controls in them which allow the user to increment/decrement the text inside the field, select it from a dropdown, or clear it. When adding custom controls, be sure they don't conflict with these browser-specific controls.

For example, if you add a custom clear button to your search, disable the browser clear buttons:

```CSS
.custom-search-input::-ms-clear,
.custom-search-input::-webkit-search-cancel-button {
    display: none;
}
```
{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Text areas'}}}
{{#markdown}}
The `<textarea>` element creates a multi-line text area. The `row` attribute determines its height, which can be overridden with custom CSS. The `cols` attribute is not necessary, as the width is always 100%.

```
<label>Text Area
  <textarea rows="4"></textarea>
</label>
```
<div class="callout">
<label>Text Area<textarea rows="4"></textarea></label>
</div>
{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Select menus'}}}
{{#markdown}}
Select menus combine choices into one condensed menu. However, when the user needs to see all available choices, radio buttons are often more user-friendly. For long lists, consider using a typeahead autocomplete component.

```
<label>Choose one
  <select>
    <option value="commercial">Commercial</option>
    <option value="manufacturing">Manufacturing</option>
    <option value="residential">Residential</option>
    <option value="parks">Parks</option>
  </select>
</label>
```
<div class="callout">
<label>Choose one
  <select class="no-margin-bottom">
    <option value="commercial">Commercial</option>
    <option value="manufacturing">Manufacturing</option>
    <option value="residential">Residential</option>
    <option value="parks">Parks</option>
  </select>
</label>
</div>

#### Multi-select

The `multiple` attribute allows more than one option to be selected. However, since UX can vary by OS/browser and multiple selection may not be intuitive, checkboxes are often more user-friendly.

```
<label>Choose many
  <select multiple>
    <option value="commercial">Commercial</option>
    <option value="manufacturing">Manufacturing</option>
    <option value="residential">Residential</option>
    <option value="parks">Parks</option>
  </select>
</label>
```
<div class="callout">
<label>Choose many
  <select multiple class="no-margin-bottom">
    <option value="commercial">Commercial</option>
    <option value="manufacturing">Manufacturing</option>
    <option value="residential">Residential</option>
    <option value="parks">Parks</option>
  </select>
</label>
</div>
{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Checkboxes & radio buttons'}}}
{{#markdown}}
Use groups of checkboxes when the user may select multiple choices from a list, and use radio buttons when the user must select just one choice.

Wrap a group of checkboxes or radio buttons in a <fieldset> element, and give them a common label using the <legend> element. Each individual control should also have its own label, created using a typical <label>.

Example: Choose a "State" like California or New York. You would never use radio buttons.

< 7 choices

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'File upload'}}}
{{#markdown}}
{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Labels & placeholders'}}}
{{#markdown}}

All form inputs should be contained within a label.

```
<label>Input Label
  <input type="text">
</label>
```
<div class="callout">
<label>Input Label
  <input type="text">
</label>
</div>
{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Fieldset'}}}
{{#markdown}}
{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Help text'}}}
{{#markdown}}
{{/markdown}}
</section>
