<section>
{{{headerify 'h3' 'File upload'}}}
{{#markdown}}

Use `<input type="file">` to create a file upload button. For security reasons, most browsers don't let you style file inputs. To work around that, we can style a form label as a button, and point it to the `<input>`. To properly mask the input, the `.show-for-sr` class is added.

```
<label for="exampleFileUpload" class="button">Upload File</label>
<input type="file" id="exampleFileUpload" class="show-for-sr">
```
<div class="callout">
<label for="exampleFileUpload" class="button no-margin">Upload File</label>
<input type="file" id="exampleFileUpload" class="show-for-sr">
</div>

#### Upload & download icons

Add icons to file upload inputs and download buttons give more scannable context to these action. Learn more about using icons in the <a href="#icons" data-smooth-scroll>icons</a> section.

<div class="callout">
<label for="exampleFileUpload_2" class="button secondary no-margin"><i class="fas fa-download"></i> Upload</label>
<input type="file" id="exampleFileUpload_2" class="show-for-sr">
<button class="button secondary no-margin"><i class="fas fa-download"></i> Download</button>
</div>

{{/markdown}}
</section>
