<section>
{{#markdown}}

There are a few ways to incorporate the NYC Planning Digital Style Guide into your project, depending on your tech stack and requirements:

<ul class="menu expanded text-center">
  <li><a href="#installation" data-smooth-scroll>
    <span class="text-weight-normal"><i class="fab fa-npm fa-4x"></i></span>
    <span class="display-block">**Install with package manager**</span>
  </a></li>
  <li><a href="#ember-and-labs-ui" data-smooth-scroll>
    <span class="text-weight-normal"><i class="fab fa-ember fa-4x"></i></span>
    <span class="display-block">**Use the Ember addon**</span>
  </a></li>
  <li><a href="#download" data-smooth-scroll>
    <i class="fas fa-download fa-4x" style="transform:scale(0.6);"></i>
    <span class="display-block">**Download assets**</span>
  </a></li>
</ul>

{{/markdown}}
</section>


<section>
{{{headerify 'h3' 'Installation'}}}
{{#markdown}}
This package is available at [npmjs.com](https://www.npmjs.com/package/nyc-planning-style-guide), and includes all of the source Sass and JavaScript files and the compiled CSS and JavaScript. It requires [Node.js](https://nodejs.org/) (with [npm](https://www.npmjs.com/) or [Yarn](https://yarnpkg.com/)) and a [Sass](https://sass-lang.com/) compiler (Ruby Sass 3.4+ or libsass 3.3.2+).

#### 1. Install the package

```
$ npm install nyc-planning-style-guide
$ # or
$ yarn add nyc-planning-style-guide
```

#### 2. Configure Sass load paths

Add Sass load paths for this package and Foundation. How you do this depends on your build process—for example, `node-sass` can declare load paths by adding a `SASS_PATH` variable to your `.env` file:

```
SASS_PATH=node_modules:node_modules/foundation-sites/scss:node_modules/nyc-planning-style-guide/src/assets/scss
```

Regardless of your build process, the load paths are the same:
- `node_modules/`
- `node_modules/foundation-sites/scss`
- `node_modules/nyc-planning-style-guide/src/assets/scss`

#### 3. Set up your `.scss`

Edit your project's Sass file to import/include variables, mixins, and modules in the following order:

{{/markdown}}
<ul class="no-margin-bottom">
  <li>
    <div class="grid-x grid-margin-x">
      <div class="cell large-5">
        <p>Import Foundation's utilities that help us work with colors, units, selectors, and more.</p>
      </div>
      <div class="cell large-7">
{{#markdown}}
```
@import 'foundation-sites/scss/util/util';
```
{{/markdown}}
      </div>
    </div>
  </li>
  <li>
    <div class="grid-x grid-margin-x">
      <div class="cell large-5">
        <p>Import the variables file from this package, which includes NYC Planning color palettes and Foundation's utilities and settings.</p>
      </div>
      <div class="cell large-7">
{{#markdown}}
```
@import 'nyc-planning-variables';
```
{{/markdown}}
      </div>
    </div>
  </li>
  <li>
    <div class="grid-x grid-margin-x">
      <div class="cell large-5">
        <p>Import Foundation, which includes Sass functions and mixins but does not output any CSS rule-sets.</p>
      </div>
      <div class="cell large-7">
{{#markdown}}
```
@import 'foundation';
```
{{/markdown}}
      </div>
    </div>
  </li>
  <li>
    <div class="grid-x grid-margin-x">
      <div class="cell large-5">
        <p>Include Foundation components, which outputs CSS rule-sets for those components. If you don't need everything, you can output a subset of components by including them individually.</p>
      </div>
      <div class="cell large-7">
        <ul class="tabs" data-tabs id="example-tabs">
          <li class="tabs-title is-active"><a data-tabs-target="foundation-include-all" href="#foundation-include-all" aria-selected="true">Everything</a></li>
          <li class="tabs-title"><a data-tabs-target="foundation-include-some" href="#foundation-include-some">Individually</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="example-tabs">
          <div class="tabs-panel is-active" id="foundation-include-all">
{{#markdown}}
```
@include foundation-everything;
```
{{/markdown}}
          </div>
          <div class="tabs-panel" id="foundation-include-some">
{{#markdown}}
```
// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
// @include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;
```
{{/markdown}}
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="grid-x grid-margin-x">
      <div class="cell large-5">
        <p>Import NYC Planning Sass modules, which outputs CSS rule-sets for our custom components. If you don't need everything, you can output a subset of modules by including them individually.</p>
      </div>
      <div class="cell large-7">
        <ul class="tabs" data-tabs id="example-tabs">
          <li class="tabs-title is-active"><a data-tabs-target="nycplanning-include-all" href="#nycplanning-include-all" aria-selected="true">Everything</a></li>
          <li class="tabs-title"><a data-tabs-target="nycplanning-include-some" href="#nycplanning-include-some">Individually</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="example-tabs">
          <div class="tabs-panel is-active" id="nycplanning-include-all">
{{#markdown}}
```
@import 'modules/nyc-planning-all-modules';
```
{{/markdown}}
          </div>
          <div class="tabs-panel" id="nycplanning-include-some">
{{#markdown}}
```
@import 'nyc-planning-m-box-model';
@import 'nyc-planning-m-color';
@import 'nyc-planning-m-layer-groups-menu';
@import 'nyc-planning-m-site-header';
@import 'nyc-planning-m-typography';
```
{{/markdown}}
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
{{#markdown}}
Finally, any custom app modules and styles should come after the files above. Your `.scss` file should look something like this:

```
@import 'foundation-sites/scss/util/util';
@import 'nyc-planning-variables';
@import 'foundation';
@include foundation-everything;
@import 'modules/nyc-planning-all-modules';

// My custom app styles
@import 'my-app-module';
.peanut-butter {
  color: Burlywood;
}
```
  </li>
</ul>

#### 4. JavaScript <small class="text-weight-normal">(optional)</small>

This package can be used for its styles alone. However, some interactive components require JavaScript for behaviors such as toggling element class names. There are a few methods for including JavaScript in your project:

- **Use the compiled JavaScript:**
Simply load the JavaScript file (`/dist/assets/js/nyc-planning.js`), which is a compiled combination of Foundation's JavaScript and its dependencies. This is the easiest method but may include unnecessary code.

- **Use specific JavaScript components:**
Individually load jQuery, What Input, and the specific Foundation JavaScript components and then initialize Foundation. For more information on setting up custom JavaScript, see the [Foundation JavaScript documentation&nbsp;<i class="fas fa-external-link-alt"></i>](https://foundation.zurb.com/sites/docs/javascript.html).

- **Handle behavior/state yourself:** If you're using a framework that handles state for you (e.g. JavaScript MVCs), it's best  to avoid the dependencies of jQuery and Foundation's custom JavaScript. You should instead use your own custom methods to change class names in interactive components. This is how the <a href="#ember-and-labs-ui" data-smooth-scroll>Labs UI</a> addon works, as state is handled by EmberJS.

{{/markdown}}
</section>


<section>
{{{headerify 'h3' 'Ember and Labs UI'}}}
{{#markdown}}

Labs UI is an EmberJS addon that contains common components used in NYC Planning digital products. It consumes Sass files from this package to style its components. Since Ember handles behavior and state management, Labs UI does not include any JavaScript from this package.

For more information, see the <strong><a href="https://ui.planninglabs.nyc/">Labs UI documentation</a></strong>.

{{/markdown}}
</section>


<section>
{{{headerify 'h3' 'Download'}}}
{{#markdown}}

The simplest way to incorporate the NYC Planning Digital Style Guide into your project is to download the compiled assets and include them in your code.

- **Style**: <a href="{{root}}assets/css/nyc-planning.css">nyc-planning.css&nbsp;<i class="fas fa-download"></i></a>
- **JavaScript**: <a href="{{root}}assets/js/nyc-planning.js">nyc-planning.js&nbsp;<i class="fas fa-download"></i></a>

Be sure to include the `.no-js` class on your `html` tag. Adding this class prevents flash of unstyled content for a number of components.
Here's an HTML starter template:

```
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NYC Planning [application name]</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="nyc-planning.css">
  </head>
  <body>
    <h1>Hello, world!</h1>

    <script src="nyc-planning.js"></script>
  </body>
</html>
```

{{/markdown}}
</section>
