<section>
{{#markdown}}

There are a few ways to incorporate the NYC Planning Digital Style Guide into your project, depending on your tech stack and requirements:

<ul class="menu expanded text-center">
  <li><a href="#installation" data-smooth-scroll>
    <span class="text-weight-normal"><i class="fab fa-npm fa-4x"></i></span>
    <span class="display-block">**Install with package manager**</span>
  </a></li>
  <li><a href="#ember-and-labs-ui" data-smooth-scroll>
    <span class="text-weight-normal"><i class="fab fa-ember fa-4x"></i></span>
    <span class="display-block">**Use the Ember addon**</span>
  </a></li>
  <li><a href="#download" data-smooth-scroll>
    <i class="fas fa-download fa-4x" style="transform:scale(0.6);"></i>
    <span class="display-block">**Download assets**</span>
  </a></li>
</ul>

{{/markdown}}
</section>


<section>
{{{headerify 'h3' 'Installation'}}}
{{#markdown}}

This package is available at [npmjs.com](https://www.npmjs.com/package/nyc-planning-style-guide
), and includes all of the source Sass and JavaScript files and the compiled CSS and JavaScript. It requires [Node.js](https://nodejs.org/) (with [npm](https://www.npmjs.com/) or [Yarn](https://yarnpkg.com/)) and a [Sass](https://sass-lang.com/) compiler.

```
npm install nyc-planning-style-guide
```

#### Sass Configuration

Edit your `app.scss` (or whatever your main Sass file is called) to import/include variables, mixins, and modules in the following order:

1. NYC Planning variables (colors, Foundation utilities and settings)
```
@import 'nyc-planning-style-guide/variables';
```

2. Foundation
```
@import 'foundation-sites/foundation';
```

3. Include all or a subset of Foundation modules
```
@include foundation-everything;
```

4. Import all or a subset of NYC Planning modules
```
@import 'nyc-planning-style-guide/all-modules';
```

5. Custom app modules and styles


```
@import 'nyc-planning-style-guide/variables';
@import 'foundation-sites/foundation';
@include foundation-everything;
@import 'nyc-planning-style-guide/all-modules';
@import '_my-app-module';

.peanut-butter {
  color: Burlywood;
}
```

#### JavaScript <small class="text-weight-normal">(optional)</small>

This package can be used for its styles alone. However, some interactive components require JavaScript for behaviors such as toggling element class names. There are a few methods for including JavaScript in your project:

- **Use the compiled JavaScript:**
Simply load the JavaScript file (`/dist/assets/js/nyc-planning.js`), which is a compiled combination of Foundation's JavaScript and its dependencies. This is the easiest method but may include unnecessary code.

- **Use specific JavaScript components:**
Individually load jQuery, What Input, and the specific Foundation JavaScript components and then initialize Foundation. For more information on setting up custom JavaScript, see the [Foundation JavaScript documentation](https://foundation.zurb.com/sites/docs/javascript.html).

- **Handle behavior/state yourself:** You can avoid the dependencies of jQuery and Foundation's JavaScript by instead using your own custom methods to change class names in intereactive components. This is how the <a href="https://ui.planninglabs.nyc/">Labs UI</a> addon works, as state is handled by EmberJS.

{{/markdown}}
</section>


<section>
{{{headerify 'h3' 'Ember and Labs UI'}}}
{{#markdown}}

Labs UI is an EmberJS addon that contains common components used in NYC Planning digital products. It consumes Sass files from this package to style its components. Since Ember handles behavior and state management, Labs UI does not include any JavaScript from this package.

For more information, see the <strong><a href="https://ui.planninglabs.nyc/">Labs UI documentation</a></strong>.

{{/markdown}}
</section>


<section>
{{{headerify 'h3' 'Download'}}}
{{#markdown}}

The simplest way to incorporate the NYC PLanning Digital Style Guide into your project is to download the compiled assets and include them in your code.

- **Style**: <a href="{{root}}assets/css/nyc-planning.css">nyc-planning.css&nbsp;<i class="fas fa-download"></i></a>
- **JavaScript**: <a href="{{root}}assets/js/nyc-planning.js">nyc-planning.js&nbsp;<i class="fas fa-download"></i></a>

Be sure to include the `.no-js` class on your `html` tag. Adding this class prevents flash of unstyled content for a number of components.
Here's an HTML starter template:

```
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NYC Planning [application name]</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="nyc-planning.css">
  </head>
  <body>
    <h1>Hello, world!</h1>

    <script src="nyc-planning.js"></script>
  </body>
</html>
```

{{/markdown}}
</section>
