<section>
{{#markdown}}
### Headers

Since search engines use headers to index structure and content, and users skim content by its headers, it's important to use headers semantically. `<h1>` through `<h6>` elements represent six levels of hierarchy, `<h1>` being the highest and `<h6>` the lowest. Avoiding using `<h1>` more than once on a page, and avoid skipping heading levels.

``` html
<h1>Header Level 1</h1>
<h2>Header Level 2</h2>
<h3>Header Level 3</h3>
<h4>Header Level 4</h4>
<h5>Header Level 5</h5>
<h6>Header Level 6</h6>
```
<div class="callout">
<h1>Header Level 1</h1>
<h2>Header Level 2</h2>
<h3>Header Level 3</h3>
<h4>Header Level 4</h4>
<h5>Header Level 5</h5>
<h6>Header Level 6</h6>
</div>

Although header tags make fonts bigger and bolder, text should not be inside a header tag if it is not a heading. Header classes are used to give elements a particular header style, regardless of their tag. This allows for both semantic page structure and versatile design.

For example, an `<h2>` may be the proper element choice, but it's relatively large by default. You can style it by adding a `.header-[size]` class.

``` html
<h5 class="header-xxlarge">XXL Heading</h5>
<h5 class="header-xlarge">XL Heading</h5>
<p class="header-large">Large Heading</p>
<p class="header-medium">Medium Heading</p>
<h1 class="header-small">Small Heading</h1>
<h1 class="header-tiny">Tiny Heading</h1>
```
<div class="callout">
<h5 class="header-xxlarge">XXL Heading</h5>
<h5 class="header-xlarge">XL Heading</h5>
<p class="header-large">Large Heading</p>
<p class="header-medium">Medium Heading</p>
<h1 class="header-small">Small Heading</h1>
<h1 class="header-tiny">Tiny Heading</h1>
</div>
{{/markdown}}
</section>
