<section>
{{{headerify 'h3' 'Responsive embeds'}}}
{{#markdown}}

To make sure embedded content maintains its aspect ratio at various screen sizes, wrap the `iframe`, `object`, `embed`, or `video` in a container with the `.responsive-embed` class.

```
<div class="responsive-embed widescreen">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/6QJYgm0fRHk" frameborder="0" allowfullscreen></iframe>
</div>
```
<div class="callout">
  <div class="responsive-embed widescreen">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6QJYgm0fRHk" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

#### Embedded videos

**Disable autoplay** &mdash; All embedded media should be started by an explicit user action. Autoplay is a bad idea for accessibility, usability, and general sanity. Unexpected sound can conflict with other sounds or quiet environments. W3C discourages the use of autoplay, as it affects a user’s ability to stop it with a screen reader since they navigate by listening.

**Make sure text is legible** &mdash; When displaying text in videos, make sure that it's reasonably large, uses high-contrast colours, and remains on screen for long enough to be read.

**Provide subtitles** &mdash; A lot of video is watched without sound (as much as 85 percent on Facebook). This also makes the vides accessibility for users with auditory disabilities.


{{/markdown}}
</section>
