<section>
{{{headerify 'h3' 'Responsive embeds'}}}
{{#markdown}}

To make sure embedded content maintains its aspect ratio at various screen sizes, wrap the `iframe`, `object`, `embed`, or `video` in a container with the `.responsive-embed` class.

```
<div class="responsive-embed widescreen">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/6QJYgm0fRHk" frameborder="0" allowfullscreen></iframe>
</div>
```
<div class="callout">
  <div class="responsive-embed widescreen">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6QJYgm0fRHk" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

{{/markdown}}
</section>
