<section>
{{{headerify 'h3' 'Whitespace & boxes'}}}
{{#markdown}}

Avoid putting content into lots of boxes. Instead, use whitespace to separate pieces of content and create visual hierarchy. When creating boxes, avoid rounded corners. Boxes should have squared corners.

<div class="grid-x grid-margin-x">
  <div class="cell medium-shrink callout" style="border-radius:1rem;">
    <i class="fas fa-ban fuchsia"></i>  Avoid rounded corners.
  </div>
  <div class="cell medium-shrink callout">
    <i class="fas fa-check fa-fw green-dark"></i> Use squared corners.
  </div>
</div>

{{/markdown}}
</section>
