<section>
{{{headerify 'h3' 'Responsive layouts'}}}
{{#markdown}}

Our products should support any type of device, any size screen, and any resolution. They should fit various screens automatically, displaying content in a way that optimizes the user experience on any device.

<h4>
  “There is no device.”&nbsp;
  <small class="text-dark-gray">
    <i class="fas fa-desktop fa-2x"></i>
    <i class="fas fa-laptop fa-lg"></i>
    <i class="fas fa-tablet-alt fa-lg"></i>
    <i class="fas fa-tablet-alt"></i>
    <i class="fas fa-tablet-alt fa-sm"></i>
    <i class="fas fa-mobile-alt"></i>
    <i class="fas fa-mobile-alt fa-xs"></i>
  </small>
</h4>

#### Relative units
absolute units vs relative units… rem preferred… em nesting troubles… px breaks zoom…

{{/markdown}}
</section>
