<section>
{{#markdown}}

The NYC Planning logo should be used consistently to foster brand awareness.

``` html
<img alt="NYC Planning" src="https://raw.githubusercontent.com/NYCPlanning/dcp-logo/master/dcp_logo_772.png" />
```
<div class="callout xlarge-padding">
  <img alt="NYC Planning" style="width:300px;" src="https://raw.githubusercontent.com/NYCPlanning/dcp-logo/master/dcp_logo_772.png" />
</div>

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Logo variations'}}}
{{#markdown}}

The two-color, primary version of logo should be used for most instances. Alternate black and white versions are provided for instances where the primary logo is less legible — e.g. a background makes the orange or black in the logo hard to read.

``` html
<!-- Primary, two-color logo -->
<img alt="NYC Planning" src="https://raw.githubusercontent.com/NYCPlanning/dcp-logo/master/dcp_logo_772.png" />

<!-- White logo -->
<img alt="NYC Planning" src="https://raw.githubusercontent.com/NYCPlanning/dcp-logo/master/dcp_logo_white_772.png" />

<!-- Black logo -->
<img alt="NYC Planning" src="https://raw.githubusercontent.com/NYCPlanning/dcp-logo/master/dcp_logo_black_772.png" />
```
<div class="callout">
  <div class="grid-x grid-padding-x large-up-3">
    <div class="cell large-padding">
      <img alt="NYC Planning" src="https://raw.githubusercontent.com/NYCPlanning/dcp-logo/master/dcp_logo_772.png" />
      <p class="text-small large-margin-top no-margin-bottom">Use the two-color version of the logo whenever possible</p>
    </div>
    <div class="cell large-padding bg-a11y-orange">
      <img alt="NYC Planning" src="https://raw.githubusercontent.com/NYCPlanning/dcp-logo/master/dcp_logo_white_772.png" />
      <p class="text-small large-margin-top no-margin-bottom">Use the white version of the logo on dark&nbsp;backgrounds</p>
    </div>
    <div class="cell large-padding bg-dcp-yellow">
      <img alt="NYC Planning" src="https://raw.githubusercontent.com/NYCPlanning/dcp-logo/master/dcp_logo_black_772.png" />
      <p class="text-small large-margin-top no-margin-bottom">Use the black version of the logo on light&nbsp;backgrounds</p>
    </div>
  </div>
</div>

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Logo usage'}}}
{{#markdown}}

#### Clearspace

<div class="grid-x grid-margin-x">
  <div class="cell large-4">
    <div class="callout clear" style="padding:8%; position:relative;">
      <img alt="NYC Planning" src="https://raw.githubusercontent.com/NYCPlanning/dcp-logo/master/dcp_logo_772.png" />
      <div style="background:rgba(255,0,0,0.2); position:absolute; top:0; right:0; bottom:auto; left:0; padding-top:8%;"></div>
      <div style="background:rgba(255,0,0,0.2); position:absolute; top:0; right:0; bottom:0; left:auto; padding-right:8%;"></div>
      <div style="background:rgba(255,0,0,0.2); position:absolute; top:auto; right:0; bottom:0; left:0; padding-bottom:8%;"></div>
      <div style="background:rgba(255,0,0,0.2); position:absolute; top:0; right:auto; bottom:0; left:0; padding-left:8%;"></div>
    </div>
  </div>
  <div class="cell large-auto">
    <p>It's important to maintain enough space around the logo, allowing it to stand out and ensuring that it's easily identifiable.</p>
    <p>Please don’t put anything in this red zone—which is approximately 8% of the height of the logo, or about the size of the square in the middle of the C.</p>
  </div>
</div>

#### Logo don'ts

<div class="grid-x grid-margin-x large-up-4">
  <div class="cell">
    <div class="callout large-padding bg-green-muted">
      <img alt="NYC Planning" src="https://raw.githubusercontent.com/NYCPlanning/dcp-logo/master/dcp_logo_772.png" />
    </div>
    <p class="text-small large-margin-bottom"><i class="fas fa-ban fuchsia"></i> Do not place the two-color logo on colorful backgrounds</p>
  </div>
  <div class="cell">
    <div class="callout large-padding" style="background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);">
      <img alt="NYC Planning" src="https://raw.githubusercontent.com/NYCPlanning/dcp-logo/master/dcp_logo_772.png" />
    </div>
    <p class="text-small large-margin-bottom"><i class="fas fa-ban fuchsia"></i> Do not place the logo on backgrounds that make it difficult to read</p>
  </div>
  <div class="cell">
    <div class="callout clear large-padding">
      <img style="transform:scale(0.2)" alt="NYC Planning" src="https://raw.githubusercontent.com/NYCPlanning/dcp-logo/master/dcp_logo_772.png" />
    </div>
    <p class="text-small large-margin-bottom"><i class="fas fa-ban fuchsia"></i> Do not shrink the logo smaller than its 50-pixel minimum width</p>
  </div>
  <div class="cell">
    <div class="callout large-padding">
      <img style="mix-blend-mode:hard-light;" alt="NYC Planning" src="https://raw.githubusercontent.com/NYCPlanning/dcp-logo/master/dcp_logo_772.png" />
    </div>
    <p class="text-small large-margin-bottom"><i class="fas fa-ban fuchsia"></i> Do not change the color of the logo</p>
  </div>
  <div class="cell">
    <div class="callout clear large-padding">
      <img style="width:100%;" alt="NYC Planning" src="/assets/img/bad-logo.png" />
    </div>
    <p class="text-small large-margin-bottom"><i class="fas fa-ban fuchsia"></i> Do not use a blurry or low-resolution version of the logo</p>
  </div>
  <div class="cell">
    <div class="callout clear large-padding">
      <img style="transform:rotate(-45deg);" alt="NYC Planning" src="https://raw.githubusercontent.com/NYCPlanning/dcp-logo/master/dcp_logo_772.png" />
    </div>
    <p class="text-small large-margin-bottom"><i class="fas fa-ban fuchsia"></i> Do not rotate the logo</p>
  </div>
  <div class="cell">
    <div class="callout bg-white-smoke large-padding">
      <img alt="NYC Planning" src="https://raw.githubusercontent.com/NYCPlanning/dcp-logo/master/dcp_logo_black_772.png" />
    </div>
    <p class="text-small large-margin-bottom"><i class="fas fa-ban fuchsia"></i> Do not use the black logo when the primary logo would read well</p>
  </div>
  <div class="cell">
    <div class="callout bg-orange-light large-padding">
      <img alt="NYC Planning" src="https://raw.githubusercontent.com/NYCPlanning/dcp-logo/master/dcp_logo_white_772.png" />
    </div>
    <p class="text-small large-margin-bottom"><i class="fas fa-ban fuchsia"></i> Do not use the white logo on light colored backgrounds</p>
  </div>
</div>

{{/markdown}}
</section>
