<section>
{{{headerify 'h3' 'Video'}}}
{{#markdown}}

**Make sure text is legible** &mdash; When displaying text in videos, make sure that it's reasonably large, uses high-contrast colours, and remains on screen for long enough to be read.

**Provide subtitles** &mdash; A lot of video is watched without sound (as much as 85 percent on Facebook). This also makes the vides accessibility for users with auditory disabilities.

**Disable autoplay** &mdash; Specific sites like Facebook and YouTube play video automatically. When embedding video on the Council website, do not enable autoplay.

{{/markdown}}
</section>
