<section>
{{{headerify 'h3' 'Button groups'}}}
{{#markdown}}

Wrap buttons in a container with the `.button-group` class to associate a set of related actions. These buttons will be separated by a 1-pixel border. Size and color classes can be applied to the group as a whole.


```
<div class="button-group small secondary">
  <a class="button">One</a>
  <a class="button">Two</a>
  <a class="button">Three</a>
</div>
```
<div class="callout">
  <div class="button-group small secondary">
    <a class="button">One</a>
    <a class="button">Two</a>
    <a class="button">Three</a>
  </div>
</div>

#### Expanded button groups

The `.expanded` class will make the group fill the width of its container (maximum of six buttons).

```
<div class="button-group small secondary expanded">
  <a class="button">One</a>
  <a class="button">Two</a>
  <a class="button">Three</a>
</div>
```
<div class="callout">
  <div class="button-group small secondary expanded">
    <a class="button">One</a>
    <a class="button">Two</a>
    <a class="button">Three</a>
  </div>
</div>

#### Stacked button groups

Make a button group vertical with the `.stacked` class. The responsive `.stacked-for-small` class makes the group vertical on small screens only, and `.stacked-for-medium` makes the group vertical on medium and small screens. These classes are good for button groups confined to small spaces at certain screen sizes. 

```
<div class="button-group small secondary stacked">
  <a class="button">One</a>
  <a class="button">Two</a>
  <a class="button">Three</a>
</div>
```
<div class="callout">
  <div class="button-group small secondary stacked">
    <a class="button">One</a>
    <a class="button">Two</a>
    <a class="button">Three</a>
  </div>
</div>

{{/markdown}}
</section>
