<section>
{{{headerify 'h3' 'Site Header'}}}

  {{#code 'html'}}
<header class="site-header" role="banner">
<a href="https://planninglabs.nyc/" class="labs-beta-notice hide-for-print">A beta project of NYC Planning Labs</a>
<div class="grid-x grid-padding-x">
<div class="branding cell medium-auto shrink">
<a href="http://www1.nyc.gov/site/planning/index.page" class="dcp-link"><img src="https://raw.githubusercontent.com/NYCPlanning/logo/master/dcp_logo_772.png" alt="NYC Planning" class="dcp-logo"></a>
<a class="site-title">Product <small class="site-subtitle show-for-medium">Description of Product</small></a>
</div>

<div class="cell auto hide-for-medium text-right">
<button class="responsive-nav-toggler hide-for-print">Menu</button>
</div>

<nav role="navigation" class="cell medium-shrink responsive show-for-medium hide-for-print">
<ul class="menu vertical medium-horizontal">
  <li><a href="/">One</a></li>
  <li><a href="/">Two</a></li>
  <li class="external-nav-item"><a href="mailto:email@example.org">Email</a></li>
</ul>
</nav>
</div>
</header>
  {{/code}}
  <header class="site-header" role="banner">
    <a href="https://planninglabs.nyc/" class="labs-beta-notice hide-for-print">A beta project of NYC Planning Labs</a>
    <div class="grid-x grid-padding-x">
      <div class="branding cell large-auto shrink">
        <a href="http://www1.nyc.gov/site/planning/index.page" class="dcp-link"><img src="https://raw.githubusercontent.com/NYCPlanning/logo/master/dcp_logo_772.png" alt="NYC Planning" class="dcp-logo"></a>
        <a class="site-title">Product <small class="site-subtitle show-for-large">Description of Product</small></a>
      </div>

      <div class="cell auto hide-for-large text-right">
        <button class="responsive-nav-toggler hide-for-print" data-toggle="responsive-nav">Menu</button>
      </div>

      <nav role="navigation" id="responsive-nav" class="cell large-shrink responsive show-for-large hide-for-print" data-toggler=".show-for-large">
        <ul class="menu vertical large-horizontal">
          <li><a href="/">One</a></li>
          <li><a href="/">Two</a></li>
          <li class="external-nav-item"><a href="mailto:email@example.org">Email</a></li>
        </ul>
      </nav>
    </div>
  </header>

</section>
