<section>
{{{headerify 'h3' 'Headers'}}}
{{#markdown}}
Since search engines use headers to index structure and content, and users skim content by its headers, it's important to use headers semantically. `<h1>` through `<h6>` elements represent six levels of hierarchy, `<h1>` being the highest and `<h6>` the lowest. Avoiding using `<h1>` more than once on a page, and avoid skipping heading levels.

``` html
<h1>Header Level 1</h1>
<h2>Header Level 2</h2>
<h3>Header Level 3</h3>
<h4>Header Level 4</h4>
<h5>Header Level 5</h5>
<h6>Header Level 6</h6>
```
<div class="callout">
<h1>Header Level 1</h1>
<h2>Header Level 2</h2>
<h3>Header Level 3</h3>
<h4>Header Level 4</h4>
<h5>Header Level 5</h5>
<h6>Header Level 6</h6>
</div>

{{/markdown}}
</section>
