<section>
{{{headerify 'h3' 'Type basics'}}}
{{#markdown}}
Be consistent with font styles and hierarchies to ensure that UI elements are clear and easily recognizable when scanning the page.

- Avoid using too many font styles
- Size type with [relative units](https://www.w3schools.com/cssref/css_units.asp) (`rem`)
- Check how your type flows at various screen sizes

#### Inline formatting

- Use `<b>` for **bold** text, without any extra importance
- Use `<strong>` for **bold** text, with added semantic "strong" importance
- Use `<i>` for _italic_ text, without any extra importance
- Use `<em>` for _italicize_ text, with added semantic importance
- Use `<small>` for <small>smaller</small> text
- Use `<mark>` for <mark>marked</mark> or <mark>highlighted</mark> text
- Use `<del>` for <del>deleted</del> (removed) text
- Use `<ins>` for <ins>inserted</ins> (added) text
- Use `<sub>` for <sub>subscripted</sub> text
- Use `<sup>` for <sup>superscripted</sup> text

{{/markdown}}
</section>
