<section>
{{{headerify 'h3' 'Dividers'}}}
{{#markdown}}

Use the `<hr>` tag to define a thematic change in the content (a shift of topic). This creates a 1-pixel tall, gray horizontal rule that spans 100% of the width of its container.

``` html
<hr />
```
<div class="callout">
  <p>This is a paragraph about apples. This is a paragraph about apples. This is a paragraph about apples. This is a paragraph about apples. This is a paragraph about apples.</p>
  <hr>
  <p>This is a paragraph about oranges. This is a paragraph about oranges. This is a paragraph about oranges. This is a paragraph about oranges. This is a paragraph about oranges.</p>
</div>

{{/markdown}}
</section>
