<section>
{{{headerify 'h3' 'Abbreviations'}}}
{{#markdown}}
Use the `<abbr>` tag to annotate a shortened term. Always include a `title` attribute which clarifies the full term.
```
<abbr title="Department of Information Technology & Telecommunications">DoITT</abbr> provides infrastructure...
```
<div class="callout">
  <abbr title="Department of Information Technology & Telecommunications">DoITT</abbr> provides infrastructure...
</div>

_Note: Abbreviations should be used mindfully. See the <a href="#acronyms-and-abbreviations" data-smooth-scroll>acronyms and abbreviations</a> section for more information._

{{/markdown}}
</section>
