<section>
{{{headerify 'h3' 'Lists'}}}
{{#markdown}}

#### Unordered lists

Use the `<ol>` tag to list things if the order of the items doesn't matter.

``` html
<ul>
  <li>List item</li>
  <li>List item</li>
  <li>This list item contains another list
    <ul>
      <li>Nested list item</li>
      <li>Another nested list item</li>
    </ul>
  </li>
  <li>List item with a much longer description or more content. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
</ul>
```
<div class="callout">
<ul>
  <li>List item</li>
  <li>List item</li>
  <li>This list item contains another list
    <ul>
      <li>Nested list item</li>
      <li>Another nested list item</li>
    </ul>
  </li>
  <li>List item with a much longer description or more content. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
</ul>
</div>


#### Ordered lists

The `<ol>` tag defines lists with an explicit order, marked with numbers by default.

The optional `type="[1,A,a,I,i]"` attribute defines the type of the list item marker.

``` html
<ol>
  <li>Bicycles</li>
  <li>Bike racks</li>
  <li>Bike lanes
    <ol type="a">
      <li>Sharrows</li>
      <li>Striped</li>
      <li>Buffered</li>
      <li>Protected</li>
    </ol>
  </li>
</ol>
```
<div class="callout">
<ol>
  <li>Bicycles</li>
  <li>Bike racks</li>
  <li>Bike lanes
    <ol type="a">
      <li>Sharrows</li>
      <li>Striped</li>
      <li>Buffered</li>
      <li>Protected</li>
    </ol>
  </li>
</ol>
</div>


#### Un-bulleted lists

The `<ul>` is a bulleted list and `<ol>` is a numbered list by default, but you can add the class `.no-bullet` to remove the bullets or numbers. This allows lists to have semantic markup and custom styles so they do not look like lists (useful for lists such as menu items).

``` html
<ul class="no-bullet">
  <li>List item</li>
  <li>List item
    <ul>
      <li>Nested list item</li>
      <li>Nested list item</li>
    </ul>
  </li>
  <li>List item</li>
</ul>
```
<div class="callout">
<ul class="no-bullet">
  <li>List item</li>
  <li>List item
    <ul>
      <li>Nested list item</li>
      <li>Nested list item</li>
    </ul>
  </li>
  <li>List item</li>
</ul>
</div>


#### Definition lists

The `<dl>` tag is used to display name-value pairs, like metadata or a dictionary definition. Each term (`<dt>`) is paired with one or more definitions (`<dd>`).

``` html
<dl>
  <dt>Time</dt>
  <dd>The indefinite continued progress of existence and events in the past, present, and future regarded as a whole.</dd>
  <dt>Space</dt>
  <dd>A continuous area or expanse that is free, available, or unoccupied.</dd>
  <dd>The dimensions of height, depth, and width within which all things exist and move.</dd>
</dl>
```
<div class="callout">
<dl>
  <dt>Time</dt>
  <dd>The indefinite continued progress of existence and events in the past, present, and future regarded as a whole.</dd>
  <dt>Space</dt>
  <dd>A continuous area or expanse that is free, available, or unoccupied.</dd>
  <dd>The dimensions of height, depth, and width within which all things exist and move.</dd>
</dl>
</div>

{{/markdown}}
</section>
