<section>
{{{headerify 'h3' 'Paragraphs'}}}
{{#markdown}}

Paragraphs inherit the font size of their containing element, which defaults to `1rem`/`16px` inherited from the body element. Paragraphs are styled with `line-height: 1.6` and `margin-bottom: 1rem` for a vertical rhythm that's easy to read.

```
<p>This is a paragraph...</p>
```

Wide lines of text are difficult to read and make it harder for people to focus. While there's no perfect line length, a good goal fewer than 120 characters per line (including spaces). It's good practice to use responsive design techniques to create layouts with optimal line lengths.

{{/markdown}}
</section>
