<section>
{{#markdown}}

Content that is clear, relevant, and reader-friendly helps provide a great user experience. Language that is concise and literal allows for more accurate automated translations and makes information more accessibile. Focus on simple and succinct sentences. Avoid governmental jargon and legalese.

We aim to be clear and conversational, yet professional. To be as clear as possible, strip sentences down to the <strong>actors</strong> and <strong>actions</strong>. The use of active voice is preferred to <strong>passive voice</strong>.

- Be conscious of the placement of the subjects of sentences. Write: <em>the applicant proposed changes</em> instead of <em>the changes were proposed by the applicant</em>.

- Be conscious of the use of the verb "to be." When the subject of your sentence comes after the verb, you are writing in <strong>passive voice</strong>.

- Avoid citations. If needed, integrate into text (e.g. <em>according to the Department of Parks and Recreation</em>).

- Alternate long and short sentences to help your writing flow better. Focus on one thought per sentence.

- <strong>Avoid repeating words</strong> in the same sentence, or beginning multiple sentences with the same word or phrase.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Acronyms and abbreviations'}}}
{{#markdown}}

- Always spell out names of <strong>agencies</strong> and <strong>organizations</strong> on first reference, followed by the common abbreviation or acronym in parenthesis. On following references, the abbreviated agency name is preferred to the agency acronym. For instance, the <strong>Department of Parks &amp; Recreation</strong> should be referred to on second reference as <strong>Parks</strong>, not <strong>DPR</strong>.

- It's acceptable to use <strong>ampersands</strong> (&amp;) and <strong>percent signs</strong> (%) in subheadings, charts, graphs, and web buttons. However, be consistent.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Addresses'}}}
{{#markdown}}

- Always use numerals when writing out building numbers in addresses.

- In reference to specific street names, always spell out and capitalize words like <em>Boulevard</em>, <em>Avenue</em>, and <em>Street</em>. For street names that are also numbers, spell out and capitalize <em>First</em> through <em>Ninth</em> and use figures for <em>10th</em> and higher (e.g <em>Fifth Ave</em> and <em>11th Ave</em>).

- If a street name includes a cardinal direction, abbreviate North, South, East and West only when referring to a specific building (e.g. <em>326 W. 17th Street</em> or <em>East 34th Street</em>).

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Phone numbers'}}}
{{#markdown}}

- Phone numbers use hyphens between groups of numbers (e.g. <em>212-123-4567</em>). Do not use parentheses around area codes. Area codes and country codes get no special treatment and aren't preceded by a 1 or plus sign.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Capitalization'}}}
{{#markdown}}
- **Titles** should always be capitalized when they appear before a person's name.

- Follow sentence case for **web buttons** that include three or more words. Use title case for buttons with only one or two words. Punctuating buttons are up to the discretion of the writer.

- **Charter** should always be capitalized when used in reference to the New York City Charter.

- **City** should be capitalized when referring to New York City.

- **District** should be capitalized when referring to NYC Community Districts or Council Districts (e.g. <em>the 11th Council District</em>, or <em>within several Districts</em>).

- Titles such as **Chair**, **Mayor**, and **Speaker** should always be capitalized when used in reference to their position &mdash; e.g. "Chair of the City Planning Commission" or "Mayor of New York City" or "Speaker of the New York City Council."

- Capitalize the first word of a **subheading**. Punctuating subheadings is acceptable for questions. Other forms of subhead punctuation are up to the discretion of the writer.

- Lowercase adjectives that describe status of a title (e.g. <em>The former Speaker Christine Quinn</em>).

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Compositions'}}}
{{#markdown}}

- Use quotation marks around titles of works of art and compositions, like books, songs, television shows, video games, and poems. Do not use quotations or italics for names of publications (e.g. "The Grapes of Wrath," or The New York Times).

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Contractions'}}}
{{#markdown}}

- Use common contractions like <strong>isn't</strong>, <strong>won't</strong>, and <strong>you'll</strong> when possible. This sets a more conversational tone.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Names'}}}
{{#markdown}}

- Always use a person's title, first and last name upon first reference. Use title and last name for following references. Do not use courtesy titles, unless needed to differentiate between people who have the same last name.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Numbers'}}}
{{#markdown}}

- Spell out numbers <strong>one</strong> through <strong>nine</strong>. Use numerals for numbers <strong>10 and greater</strong>. Always spell out numbers that begin sentences, unless it's a year (e.g. <em>2006 was a great year</em>). For numbers in the millions, billions or trillions, use a number and word (e.g. <em>1 billion</em>, <em>4.8 million</em>).

- When referring to <strong>money</strong>, always use numerals preceded with a dollar sign (e.g. <em>$400</em>). When referencing an amount of money less than $1, use numerals and spell out the word cents (e.g. <em>30 cents</em>).

- For <strong>dates</strong>, avoid using ordinal numbers (1st, 2nd, or 3rd). Always use figures (e.g. <em>March 7, 1980</em>).

- Always use numerals for <strong>dimensions</strong>. Spell out words like pounds, feet, and ounces.

- The word <strong>percent</strong> should almost always be written out. A percent sign (%) may be used for charts, graphs and subheads.

- Always use numerals for percentages (e.g. <em>30 percent</em>, <em>6 percent</em>).

- Use numerals in reference to <strong>age</strong>. Hyphenate ages when used as an adjective before a noun or in substitution for a noun (e.g. <em>the 20-year-old student</em>, or <em>the 8-year-olds</em>). Don't use an apostrophe when describing a period of time (e.g. <em>in their 20s</em>, or <em>the 1950s</em>).

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Hyperlinks'}}}
{{#markdown}}
- Avoid hyperlinking <strong>"read here"</strong>, or <strong>"click here"</strong>. Hyperlinked text should always be descriptive to give readers a solid understanding of the linked content. Learn more about writing links in the <a href="#links" data-smooth-scroll>links</a> section.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Hashtags'}}}
{{#markdown}}

Hashtags should be written in #CamelCase. Each word in the hashtag's phrase should begin with a capital letter. Acronyms within hashtags should be all capitals. Be careful when combining acronyms with other words&mdash;#NYCHealth reads as "New York City Health," whereas #NYChealth reads as "New York Chealth."

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Pronouns'}}}
{{#markdown}}

- Pronouns like <strong>you</strong> and <strong>ours</strong> should be used at the writer's discretion to address readers or services we are providing. This helps humanize the City Planning's voice and makes us seem much more conversational and approachable.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Punctuation'}}}
{{#markdown}}
- <strong>Apostrophes</strong>: Add an apostrophe-s to all singular nouns, even if the noun ends in s. Use only an apostrophe with a singular noun if the following word begins with s (e.g. <em>the boss's hat</em>, or <em>the boss' style</em>). Only use an apostrophe for a proper noun that ends in s (e.g. <em>Districts' residents</em>).

- <strong>Bullets</strong>: Capitalize the first word of every bullet. Include a period only when the bulleted item is a complete sentence.

- <strong>Colons</strong>: Capitalize the first word after a colon if what follows makes a complete sentence.

- <strong>Commas</strong>: Always use the serial comma, also known as the Oxford comma.

- <strong>Dashes</strong>: Em dashes should be used&mdash;without spaces between them and adjacent words&mdash;to offset phrases. Avoid using en dashes when referring to ranges. Instead, spell out <em>to</em>, <em>and</em>, or <em>through</em>.

- <strong>Dates</strong>: Always use the full name of the month (e.g. <em>March 3, 2016</em>).

- <strong>Quotation marks</strong>: Periods and commas go inside quotation marks.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Words to avoid'}}}
{{#markdown}}

Figurative, or superfluous, language can be confusing. It also makes translation into additional languages difficult. For example:

- **Stand** (used often in social movements, not inclusive of people with physical disabilities)
- **Drive** (use a word like lead )
- **Drive out** (use eliminate or push away)
- **Going forward** ( use in the future)
- **In order to** ("in order" are extra, unneeded words)
- **One-stop shop** (describe the item literally, such as clinic with comprehensive youth services)

Strive to use as few words as possible, especially jargon and buzzwords, as their meanings are often lost on readers. Opt instead for words that are more specific and descriptive. Here's a list of words that are used idiomatically, along with more literal suggestions:

<div class="grid-x grid-margin-x">
  <div class="cell large-6">
    <h4>Idioms and misnomers</h4>
    <p>Use literal and specific nouns rather than expressions or objects in a metaphorical context (e.g. <em>Our office is low bandwidth this week due to a plumbing issue</em> is abstract, <em>Our office hours will end early due to plumbing issues</em> is literal).</p>
    <h6>Other examples:</h6>
    <ul>
      <li><strong>agenda</strong> <small>(use plan or intention)</small></li>
      <li><strong>llegals/illegal aliens</strong> <small>(use undocumented immigrants or people without immigration status)</small></li>
      <li><strong>thought leader</strong> <small>(describe person's specific accomplishments)</small></li>
      <li><strong>touchpoint</strong> <small>(refer to actual components)</small></li>
      <li><strong>user testing</strong> <small>(unless you're actually testing the users, use usability testing)</small></li>
    </ul>
  </div>
  <div class="cell large-6">
    <h4>Verbs</h4>
    <p>Use the specific, literal action and sentence subject rather than a hard-to-understand abstraction of that action (e.g. <em>To empower the use of bathrooms</em> is abstract, <em>converted existing facilities into single-use, gender-neutral restrooms</em> is literal).</p>
    <h6>Other examples:</h6>
    <div class="grid-x grid-margin-x">
      <div class="cell large-5" style="margin-bottom:0;">
        <ul>
          <li><strong>Collaborate</strong></li>
          <li><strong>combating</strong></li>
          <li><strong>countering</strong></li>
          <li><strong>dialogue</strong></li>
          <li><strong>facilitate</strong></li>
          <li><strong>foster</strong></li>
          <li><strong>impact</strong> <small>(as a verb)</small></li>
          <li><strong>initiate</strong></li>
        </ul>
      </div>
      <div class="cell large-7">
        <ul>
          <li><strong>land</strong> <small>(as verb)</small></li>
          <li><strong>leverage</strong> <small>(implies financial)</small></li>
          <li><strong>progress</strong> <small>(as a verb)</small></li>
          <li><strong>promote</strong> <small>(implies advertising)</small></li>
          <li><strong>streamline</strong></li>
          <li><strong>tackle</strong> <small>(implies football)</small></li>
          <li><strong>transform</strong></li>
          <li><strong>utilize</strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{/markdown}}
</section>
