<section>
{{#markdown}}

Content that is clear, relevant, and reader-friendly helps provide a great user experience. Language that is concise and literal allows for more accurate automated translations and makes information more accessibile. Focus on simple and succinct sentences. Avoid governmental jargon and legalese.

We aim to be clear and conversational, yet professional. To be as clear as possible, strip sentences down to the <strong>actors</strong> and <strong>actions</strong>. The use of active voice is preferred to <strong>passive voice</strong>.

- Be conscious of the placement of the subjects of sentences—e.g. say <u>the applicant proposed changes</u> instead of <u>the changes were proposed by the applicant</u>.

- Be conscious of the use of the verb "to be." When the subject of your sentence comes after the verb, you are writing in <strong>passive voice</strong>.

- Avoid citations. If needed, integrate into text—e.g. <u>according to the Department of Parks and Recreation</u>.

- Alternate long and short sentences to help your writing flow better. Focus on one thought per sentence.

- <strong>Avoid repeating words</strong> in the same sentence, or beginning multiple sentences with the same word or phrase.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Acronyms and abbreviations'}}}
{{#markdown}}

- <strong>Agencies</strong> and <strong>organizations</strong> should always be spelled out on first reference, followed by the common abbreviation or acronym in parenthesis. On following references, the abbreviated agency name is preferred to the agency acronym—e.g. on second reference, <u>Department of Parks & Recreation</u> should be referred to as <u>Parks</u> not <u>DPR</u>.

- <strong>Ampersands</strong> (&amp;) and <strong>percent signs</strong> (%) should be written out. However, it's acceptable to use the symbols in subheadings, charts, graphs, and web buttons if they're used consistently.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Addresses'}}}
{{#markdown}}

- Always use numerals when writing out building numbers in addresses.

- In reference to specific street names, always spell out and capitalize words like <u>Boulevard</u>, <u>Avenue</u>, and <u>Street</u>. For street names that are also numbers, spell out and capitalize <u>First</u> through <u>Ninth</u> and use figures for <u>10th</u> and higher—e.g <u>Fifth Ave</u> and <u>11th Ave</u>.

- If a street name includes a cardinal direction, abbreviate North, South, East and West only when referring to a specific building—e.g. <u>326 W. 17th Street</u> or <u>East 34th Street</u>. Do not capitalize cardinal directions when they indicate a general direction or location—e.g. <u>north of North 12th Street</u>.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Phone numbers'}}}
{{#markdown}}

- Phone numbers use hyphens between groups of numbers—e.g. <u>212-123-4567</u>. Do not use parentheses around area codes. Area codes and country codes get no special treatment and aren't preceded by a 1 or plus sign.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Capitalization'}}}
{{#markdown}}
- **Titles** should always be capitalized when they appear before a person's name.

- Follow sentence case for **web buttons** that include three or more words. Use title case for buttons with only one or two words. Using punctuation in buttons is up to the discretion of the writer.

- **Charter** should always be capitalized when used in reference to the New York City Charter.

- **City** should be capitalized when referring to New York City.

- **District** should be capitalized when referring to NYC Community Districts or Council Districts—e.g. <u>the 11th Council District</u>, or <u>within several Districts</u>).

- Titles such as **Chair**, **Mayor**, and **Speaker** should always be capitalized when used in reference to their position—e.g. <u>Chair of the City Planning Commission</u> or <u>Mayor of New York City</u> or <u>Speaker of the New York City Council.</u>

- Capitalize the first word of a **subheading**. Punctuating subheadings is acceptable for questions. Other forms of subhead punctuation are up to the discretion of the writer.

- Lowercase adjectives that describe status of a title—e.g. <u>the former Speaker Christine Quinn</u>.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Compositions'}}}
{{#markdown}}

- Use quotation marks around titles of works of art and compositions, like books, songs, television shows, video games, and poems—e.g. say <u>"The Grapes of Wrath"</u> not <u><i>The Grapes of Wrath</i></u>. Do not use quotations or italics for names of publications—e.g. <u>The New York Times</u>.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Contractions'}}}
{{#markdown}}

- Use common contractions like <strong>isn't</strong>, <strong>won't</strong>, and <strong>you'll</strong> when possible to set a more conversational tone.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Names'}}}
{{#markdown}}

- Always use a person's title, first and last name upon first reference. Use title and last name for following references. Do not use courtesy titles, unless needed to differentiate between people who have the same last name.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Numbers'}}}
{{#markdown}}

- Spell out numbers <strong>one</strong> through <strong>nine</strong>. Use numerals for numbers <strong>10 and greater</strong>. Always spell out numbers that begin sentences, unless it's a year—e.g. <u>2006 was a great year</u>. For numbers in the millions, billions or trillions, use a number and word—e.g. <u>1 billion</u> or <u>4.8 million</u>. Large numbers can be abbreviated in charts and graphs if they're used consistently—e.g. <u>1B</u> or <u>4.8M</u>.

- When referring to <strong>money</strong>, always use numerals preceded with a dollar sign—e.g. <u>$400</u>. When referencing an amount of money less than $1, use numerals and spell out the word cents—e.g. <u>30 cents</u>.

- For <strong>dates</strong>, avoid using ordinal numbers (1st, 2nd, 3rd). Instead use figures—e.g. <u>March 7, 1980</u>.

- Always use numerals for <strong>units</strong>. Spell out words like pounds, feet, and ounces. Units can be abbreviated in charts and graphs if they're used consistently—e.g. <u>600 ft.</u>

- The word <strong>percent</strong> should almost always be written out. A percent sign (%) may be used for charts, graphs, and subheadings.

- Always use numerals for percentages—e.g. <u>30 percent</u> or <u>6 percent</u>.

- Use numerals in reference to <strong>age</strong>. Hyphenate ages when used as an adjective before a noun or in substitution for a noun—e.g. <u>the 20-year-old student</u> or <u>the 8-year-olds</u>). Don't use an apostrophe when describing a period of time—e.g. <u>in their 20s</u> or <u>the 1950s</u>.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Hyperlinks'}}}
{{#markdown}}
- Avoid hyperlinking <strong><a>read here</a></strong> or <strong><a>click here</a></strong>. Hyperlinked text should always be descriptive to give readers a solid understanding of the linked content. Learn more about writing links in the <a href="#links" data-smooth-scroll>links</a> section.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Hashtags'}}}
{{#markdown}}

Hashtags should be written in #CamelCase. Each word in the hashtag's phrase should begin with a capital letter. Acronyms within hashtags should be all capitals. Be careful when combining acronyms with other words—e.g. <u>#NYCHealth</u> reads as "New York City Health," whereas <u>#NYChealth</u> reads as "New York Chealth."

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Pronouns'}}}
{{#markdown}}

- Pronouns like <strong>you</strong> and <strong>ours</strong> should be used at the writer's discretion to address readers or services we are providing. This helps humanize the City Planning's voice and makes us seem much more conversational and approachable.

- Always use the singular form of <strong>they</strong> when referring to an abstract person—e.g. say <u>when they contact the lead planner</u> not <u>when he/she contacts the lead planner</u>.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Punctuation'}}}
{{#markdown}}
- <strong>Apostrophes</strong>: Add an apostrophe-s to all singular nouns, even if the noun ends in s. Use only an apostrophe with a singular noun if the following word begins with s—e.g. <u>the boss's hat</u> or <u>the boss' style</u>. Only use an apostrophe for a proper noun that ends in s—e.g. <u>Districts' residents</u>.

- <strong>Bullets</strong>: Capitalize the first word of every bullet. Include a period only when the bulleted item is a complete sentence.

- <strong>Colons</strong>: Capitalize the first word after a colon only if what follows makes a complete sentence.

- <strong>Commas</strong>: Always use the serial comma, also known as the Oxford comma.

- <strong>Dashes</strong>: Em dashes should be used—without spaces between them and adjacent words—to offset phrases. Avoid using en dashes when referring to ranges. Instead, spell out <u>to</u>, <u>and</u>, or <u>through</u>.

- <strong>Dates</strong>: Always use the full name of the month—e.g. say <u>March 3, 2016</u> not <u>Mar 3, 2016</u>.

- <strong>Quotation marks</strong>: Periods and commas go inside quotation marks.

{{/markdown}}
</section>

<section>
{{{headerify 'h3' 'Words to avoid'}}}
{{#markdown}}

Figurative, or superfluous, language can be confusing. It also makes translation into additional languages difficult. Here are some examples of words to avoid:

- **Stand** <small>(often used in social movements, but not inclusive of people with physical disabilities)</small>
- **Drive** <small>(use a word like <u>lead</u> instead)</small>
- **Drive out** <small>(use <u>eliminate</u> or <u>push away</u> instead)</small>
- **Going forward** <small>(use <u>in the future</u> instead)</small>
- **In order to** <small>(the words "in order" are unnnecessary; just say <u>to</u> instead)</small>
- **One-stop shop** <small>(describe the item literally—e.g. <u>a tool with comprehensive services</u>)</small>

Strive to use as few words as possible, especially <strong>jargon</strong> and <strong>buzzwords</strong>, as their meanings are often lost on readers. Opt instead for words that are more specific and descriptive. Here's a list of words that are used idiomatically, along with more literal suggestions:

<div class="grid-x grid-margin-x">
  <div class="cell large-6">
    <h4>Idioms and misnomers</h4>
    <p>Use literal and specific nouns rather than expressions or objects in a metaphorical context. For example:</p>
    <ul>
      <li><u>Our office is low bandwidth due to a plumbing issue</u> is abstract</li>
      <li><u>Our office hours will end early due to plumbing issues</u> is literal</li>
    </ul>
    <h6>Other examples:</h6>
    <ul>
      <li><strong>agenda</strong> <small>(use plan or intention)</small></li>
      <li><strong>llegals/illegal aliens</strong> <small>(use undocumented immigrants or people without immigration status)</small></li>
      <li><strong>thought leader</strong> <small>(describe person's specific accomplishments)</small></li>
      <li><strong>touchpoint</strong> <small>(refer to actual components)</small></li>
      <li><strong>user testing</strong> <small>(unless you're actually testing the users, use usability testing)</small></li>
    </ul>
  </div>
  <div class="cell large-6">
    <h4>Verbs</h4>
    <p>Use the specific, literal action and sentence subject rather than a hard-to-understand abstraction of that action. For example:</p>
    <ul>
      <li><u>empowered the use of waterfront</u> is abstract</li>
      <li><u>created public space on the waterfront</u> is literal</li>
    </ul>
    <h6>Other examples:</h6>
    <div class="grid-x grid-margin-x">
      <div class="cell large-5" style="margin-bottom:0;">
        <ul>
          <li><strong>collaborate</strong></li>
          <li><strong>combating</strong></li>
          <li><strong>countering</strong></li>
          <li><strong>dialogue</strong></li>
          <li><strong>facilitate</strong></li>
          <li><strong>foster</strong></li>
          <li><strong>impact</strong> <small>(as a verb)</small></li>
          <li><strong>initiate</strong></li>
        </ul>
      </div>
      <div class="cell large-7">
        <ul>
          <li><strong>land</strong> <small>(as verb)</small></li>
          <li><strong>leverage</strong> <small>(implies financial)</small></li>
          <li><strong>progress</strong> <small>(as a verb)</small></li>
          <li><strong>promote</strong> <small>(implies advertising)</small></li>
          <li><strong>streamline</strong></li>
          <li><strong>tackle</strong> <small>(implies football)</small></li>
          <li><strong>transform</strong></li>
          <li><strong>utilize</strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{/markdown}}
</section>
